@import 'node_modules/@fontawesome/fontawesome-free/css/all.min.css';
@import "variables.scss";


@mixin title{
    text-align: center;

    padding-top: 20px;

    margin-bottom: 30px;
    
    background-image: url(./public/assets/title/title-shap.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    

    
}


@mixin top-title{
    color:$primaryColor;
    font-weight: 500;
}


@mixin h2{
    text-transform: uppercase;
    color:$secondaryColor;
    font-weight: bold;
}


@mixin mb-news{
    margin-bottom: 14px;
}