

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.my_container{
  max-width: 1400px;
  margin:0 auto;
}

.my_btn{
  display: inline-block;
  padding:10px 15px;

  border-radius: 0 22px 0 22px;
  cursor:pointer;
  user-select: none;

  text-transform: uppercase;
  text-decoration: none;
}

.my_btn_big{
  display: inline-block;
  padding:14px 35px;

  border-radius: 0 22px 0 22px;
  cursor:pointer;
  user-select: none;

  text-transform: uppercase;
  text-decoration: none;
}


.my_btn_primary{
  background-color: #ef9e03;
  color:white;
  font-weight: bold;
  transition: .3s;
}

.my_btn_primary:hover{
  background-color: #007166;
}

.my_btn_secondary{
  background-color: #007166;
  color:white;
  font-weight: bold;
  transition: .3s;
}

.my_btn_secondary:hover{
  background-color: #ef9e03;
}


.my_primary_color{
  color:#ef9e03;
}



